<mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = true">
  <mat-expansion-panel-header class="header">
    <mat-panel-title class="title">
      <span class="initials">{{ initials }}</span>
      <strong>Telefones</strong>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="labels">
    <p>Número do Telefone</p>
    <p>Tipo</p>
    <p>Ações</p>
  </div>
  <div class="person-phones">
    <app-personphone *ngFor="let personPhone of personPhones" [personPhone]="personPhone"></app-personphone>
  </div>
  <div class="add-person-phone">
    <button mat-raised-button color="success" (click)="create()">Novo Número</button>
  </div>
</mat-expansion-panel>
