.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.actions {
  display: flex;
  gap: 8px;
}

.edit {
  color: #FFBB34;
}

.delete {
  color: #F44336;
}
